html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}

header{

	background-color: #3366ff;
	padding: 40px;
	text-align: center;
}

h1{
font-size: 90px;
color: white;
}

header img{
	border-radius: 150px;
	width:300px;
	border: 20px solid #ff3300;
}

.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}
img.big_image{
	max-width: 100%
}

p.caption{
	font-size: 16px
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0:
	margin: 0:;
}

a{ color: red;
text-decoration: none;
 }

 footer{
 	margin: 20px;
 	padding: 40px 20px;
 	background-color: lightgrey;
 }

 footer ul{
text-align: center;

 }

 footer ul li{
 	display: inline-block;
 	margin: 0 5px;
 }